html{
  background-color: goldenrod;
 }

.main {
  text-align: center;
  display: block
}

h1 {
  text-align: center;
  color: black;
  font-size: 60px;
}

.playerOne {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

.playerTwo {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

#startButton {
  height: 80px;
  width: 300px;
  margin: 20px;
}
