html{
  background-color: Green;
 }

.main {
  text-align: center;
}

h1 {
  text-align: center;
  color: red;
  font-size: 60px;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.playerOne {
    margin: 30px;

}

.playerTwo {
    margin: 30px;
}

#startButton {
  height: 80px;
  width: 300px;
}
